<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col one-half">
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
        <p class="has-line-data" data-line-start="0" data-line-end="1"><a href="https://angel.co/kvshvl"><em>Angel List</em></a>. <a href="https://www.instamojo.com/kvshvl"><em>Bookstore</em></a>. <a href="https://kvshvl.threadless.com"><em>Merchandise</em></a>. <a href="https://opencollective.com/kvshvl"><em>Open Collective</em></a>. <a href="https://www.paypal.com/paypalme2/parceloff"><em>PayPal</em></a>. <a href="https://anchor.fm/kvshvl"><em>Podcast</em></a>. <a href="https://instagram.com/kvshvl/channel"><em>Series</em></a>. <a href="https://soundcloud.com/kvshvl"><em>Soundtracks</em></a>. <a href="https://t.me/kvshvl"><em>Telegram</em></a>.</p>
      </div>

      <div class="footer-col one-half">
        <p>{{- site.description | escape -}}</p>
      </div>

      <div class="social-links">
        {%- include social.html -%}
      </div>
          
    </div>

  </div>

</footer>
